/* Import font files */
@font-face {
    font-family: "Figtree";
    src: url(/assets/fonts/Figtree-VariableFont_wght.ttf) format("truetype");
}

@font-face {
    font-family: "Figtree Italic";
    src: url(/assets/fonts/Figtree-Italic-VariableFont_wght.ttf) format("truetype");
}

/* Declare variables within root */
:root{
    /* Fonts */
    --font: "Figtree", sans-serif;
    --italic: "Figtree Italic", sans-serif;

    /* Primary Colors */
    --primary-color: hsl(47, 88%, 63%);

    /* Neutral Colors */
    --neutral-color-1: hsl(0, 0%, 100%);
    --neutral-color-2: hsl(0, 0%, 50%);
    --neutral-color-3: hsl(0, 0%, 7%);

}

/* Normalize HTML and use borders*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}

/* Take all height of the viewport */
html, body{
    height: 100%;
}
  

/* Body */
body{
    width: 100%;
    font-family: var(--font);
    background-color: var(--primary-color);
    display: relative;
}

/* Card */
.card{
    max-width: 384px; 
    min-width: 327px;
    padding: 24px;
    background-color: var(--neutral-color-1);
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 1vmin 1vmin; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Attribution */
.attribution{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

/* Gap between div elements in card */
.card-img, .card-content, .card-author{
    margin: 24px 0;
}

/* Card Category */
.category{
    width: fit-content;
    height: fit-content;
    padding: 1vmin 2vmin;
    color: var(--neutral-color-3);
    font-weight: bold;
    background-color: var(--primary-color);
    border-radius: 1vmin;

}

/* Paragraph elements within card-content */
.card-content > p{
    margin: 2vmin 0;
}

/* Title */
.title{
    font-size: 1.25rem;
    font-weight: bold;
}

/* Publish date */
.publish-date{
    font-size: 0.75rem;
}

/* Description */
.description{
    color: var(--neutral-color-2)
}

