/* Import font files */
@font-face {
    font-family: "Figtree";
    src: url(/assets/fonts/Figtree-VariableFont_wght.ttf) format("woff2 supports variations");
}
@font-face {
    font-family: "Figtree Italic";
    src: url(/assets/fonts/Figtree-Italic-VariableFont_wght.ttf) format("woff2 supports variations");
}

:root{
    /* Fonts */


    /* Primary Colors */


    /* Neutral Colors */


  }
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html{
    font-size: 62.5%;
  }
  
  html, body{
    height: 100%;
  }
  
  body{
    width: 100%;
    font-family: var(--font);
  }